@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans/OpenSans-Light.ttf");
  font-size: 1em;
}

/*Cabeçalho*/
header{
    width: 100%;
    height: 100px;
    background-color: rgba(76, 150, 230, .8);
    z-index: 2;
    position: relative;
}
header div.container{
    position: relative;
}
header img#logotipo{
    position: absolute;
    top: 15px;
}

/*Menu*/
#menu{
  margin: 25px 0;
}
#menu li{
  display: inline-block;
  font-family: 'OpenSans';
}
#menu li.search{
  width: 182px;
}
#menu li.search input{
  background-color: #98c3f1;
  color: white;
  border: none;
  height: 30px;
  padding-left: 10px
}
#menu li.search input::-webkit-input-placeholder{
  color: white;
}
#menu li.search button{
  background: none;
  border: none;
  position: absolute;
  right: 3px;
  top: 7px;
}
#menu li.search button i{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
#menu li a{
  color: white;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 25px;
}
#menu li.search .input-group{
  top: 8px;
}

/*Carousel*/
#carousel{
  margin-top: 10px;
  margin-bottom: 30px;
  transition: 0.3s;
  padding: 0;
  border-radius: 10px;
}
#carousel img{
  width: 100%;
  height: 500px;
  border-radius: 5px 5px 5px 5px;
}
#carousel a{
  text-decoration: none;
  color: white;
}

/*Notícias*/
#news{
  top: -110px;
  margin-bottom: 30px;
}
#news h2{
  color: #5E2799;
  font-family: 'OpenSans-Light';
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}
#news hr {
  border: #FDE192 solid 8px;
  width: 200px;
  margin: 0 auto;
}
#news .noticias{
  margin-top: 50px;
}
#news .noticias h4{
  font-size: 18px;
  font-family: 'OpenSans';
  font-weight: bold;
}

/*Estatísticas*/
#estatisticas{
  background-color: rgba(76, 150, 230);
  width: 100%;
  height: 200px;
  text-align: center;
}
#estatisticas p{
  color: white;
  text-transform: uppercase;
  font-family: 'OpenSans-Light';
  font-size: 64px;
  margin-top: 33px;
}
#estatisticas p small{
  color: white;
  font-size: 24px;
  display: block;
}

/*Premium*/
#premium {
	text-align: center;
	margin-top: 105px;
}
#premium h2 {
	color:#5E2799;
	font-family: 'OpenSans-Light';
	font-size: 48px;
	text-align: center;
}
#premium hr {
	border:#FDE192 solid 8px;
	width: 200px;
	margin: 0 auto;
}
#premium p {
	margin-top: 60px;
	margin-bottom: 40px;
	color: #656565;
}
#premium .btn {
	min-width: 164px;
    height: 44px;
    line-height: 34px;
    border-radius: 0;
}
#premium .btn-roxo {
    color: #fff;
    background-color: #5E299A;
    border-color: #5E299A;
}
#premium .btn-amarelo {
    color: #000;
    background-color: #FDE192;
    border-color: #FDE192;
}
#premium .row-max-400 {
	margin: 0 auto;
	max-width: 400px;
}

/*Rodapé*/
footer {
	margin-top: 110px;
}
footer .row {
	width: 100%;
}
footer .row p {
	line-height: 55px;
	margin-bottom: 0;
}
footer .row-cinza-claro {
	height: 200px;
	background-color: #171F26;
}
footer .row-cinza-escuro {
	height: 60px;
	background-color: #11171D;
	border-top: #242D37 1px solid;
}
footer .pull-left {
	font-family: 'OpenSans';
	font-size: 14px;
	color: #666;
}
footer .text-roxo {
	color: #623291;
	font-family: 'OpenSans';
	font-weight: bold;
	font-size: 14px;
}
footer .logotipo {
	margin-top: 70px;
}
footer .col-popular-post,
footer .col-links,
footer .col-get-in-touch {
	margin-top: 40px;
}
footer .row-cols h4 {
	font-family: 'OpenSans';
	font-size: 16px;
	color: #FFF;
	padding-bottom: 17px;
	border-bottom: #242D37 1px solid;
}
footer .row-cols h5 {
	color: #666;
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 0;
}
footer .row-cols time {
	color: #FDE092;
	font-family: Arial;
	font-size: 14px;
}
footer .col-links a {
	color: #FFF;
	font-family: Arial;
	font-size: 14px;
}
footer .col-links .fa {
	margin: 0 6px;
}
footer .col-get-in-touch address {
	color:#666;
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 6px;
}
footer .col-get-in-touch address span {
	display: inline-block;
}
footer .col-get-in-touch address i {
	position: relative;
	top: -14px;
}
footer .col-get-in-touch i {
	color: #9B9B9B;
	font-size: 20px;
	margin: 0 6px;
}
footer .col-get-in-touch a {
	color: #666;
}
footer .col-get-in-touch p {
	line-height: 20px;
}
footer .list-socials {
	margin-top: 4px;
}
footer .list-socials li {
	display: inline-block;
	margin-right: 8px;
}
footer .list-socials a {
	display: block;
	border: #9B9B9B 1px solid;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 14px;
	text-align: center;
}
footer .list-socials i {
	font-size: 16px;
	margin: 7px auto;
}

/*Mobile*/
#btn-bars, #btn-search{
  display: none;
}


/*--------------------- Cadastro -----------------*/
#cadastro div.secao {  
  text-align: center;
  width: 100%;
  background-color: #e6e6ff;
  padding-top: 12px;
  border-radius: 20px;
}

#cadastro h2 {
  color: #5E2799;
  font-family: 'OpenSans-Light';
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

#cadastro h1 {
  color: #5E2799;
  font-family: 'OpenSans-Light';
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

#cadastro label {
  font-family: 'OpenSans';
  font-weight: bold;
  font-size: 12px;
  color: #5E2799;
  margin-right: 3px;  
}

#cadastro input.nome {
  width: 350px;
  margin-right: 10px;
}

#cadastro input.email {
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#cadastro label.check{
  margin-right: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}

#cadastro input#send {
  color: #fff;
  background-color: #5E299A;
  border-color: #5E299A;
}

@media only screen and (max-width: 768px){

  #cadastro div.secao input.nome {
    width: 50%;
  }

  #cadastro div.secao input.email {
    width: 25%;
  }

}

/*-------------- Cadastro responsivo ----------------*/
@media only screen and (max-width: 710px){

  #cadastro div.secao input.nome {
    width: 70%;
  }

  #cadastro div.secao input.email {
    width: 70%;
    margin-left: 9px;
  }

  #cadastro span.org {
    white-space: nowrap;
  }

}
